<div *ngIf="isActive" class="box">
    <div class="text" *ngIf="currentValue !== undefined">
        <div class="data">
            <p>{{sensor.param.paramName}}:</p> 
            <p><b>{{currentValue}}</b> [µg/m<sup>3</sup>]</p>
        </div>
        <div class="hazard"
             *ngIf="currentPercentageValue > 60">
            <b>{{currentPercentageValue}}%</b>
            <i class="material-icons">
              <!-- shows when value is highter than 60% -->
            warning
            </i>
        </div>
            
    </div> 
    <div class="bar">
        <span [style.width.%]="barWidth"
                [style.background]="barColor">
        </span>
    </div>
</div>

