<div *ngIf="selectedStation$ !== null">
    <div>
        <h1>{{selectedStation$.city.name}}</h1>
    </div>
    <div>
        <!-- Być może przyda sie utworzyc pipe do usuniecia ul. i numeru -->
        <h2 *ngIf="selectedStation$.addressStreet !== null">{{selectedStation$.addressStreet}}</h2>
    </div>
</div>
<div>
    <div>
        <p>image</p>
    </div>
    <div>
        <div>
            <p *ngIf="overallQualityIndex !== undefined">Polski indeks jakości powietrza: {{overallQualityIndex.indexLevelName}}</p>
        </div>
        <div>
            <p>image</p>
        </div>
    </div>
</div>
<div>
    <button (click)="check()">xxx</button>
</div>
<div *ngIf="selectedStationSensors !== undefined" class="sensor-data-container">
    <ul>
        <app-sensor-data 
            *ngFor="let sensor of selectedStationSensors" 
            [sensor]="sensor" 
            [stationId]="selectedStation$.id">
        </app-sensor-data>
    </ul>
</div>
<footer>
    <p>Dane w tabeli wyświetlają się, jeżeli na stacji prowadzone są pomiary automatyczne (1-godzinne wyniki pomiarów) przynajmniej jednego z następujących zanieczyszczeń: pył PM10, pył PM2,5, ozon (O3), dwutlenek azotu (NO2), dwutlenek siarki (SO2), benzen (C6H6), tlenek węgla (CO). </p>
</footer>


