/* https://www.npmjs.com/package/material-icons */
@import '~material-icons/iconfont/material-icons.css';

html, body {
  margin: 0;
  color: rgb(68, 86, 111);
  width: 100vw;
  background-color: #E0E5EC;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
   /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
    /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for IE. */
  font-feature-settings: 'liga';
  --scrollbarBG: rgba(255,255,255, 0.5);
  --thumbBG: hsl(215, 24%, 35%);
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  --light-bg-color: #E0E5EC;
  --mid-bg-color: rgba(255,255,255, 0.5);
  --dark-bg-color: rgb(163,177,198,0.6);
  --txt-color: rgb(68, 86, 111);
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
button {
  cursor: pointer;
  background-color: #E0E5EC;
  color: hsl(215, 24%, 35%);
}
p, span {
  /* justify-content: center; */
  font-size: 0.8em;
}
h1 {
  font-size: 1.4em;
  text-align: center;
}
h2 {
  font-size: 0.9em;
  text-align: center;
}
h3, h4 {
  font-size: 0.7em;
  text-align: center;
}
textarea:focus, input:focus{
  outline: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}